* {
    box-sizing: border-box;
}

.light-theme {
    --buttons-colour:#b1c5fd;
    --body-colour:#ccd7f8;
    --header-text-colour:#424f6f;
    --rezult-colour:#738cb9;
    --rezult-text-colour:#1a2239;
    --button-white-colour:#6f7da2;
    --button-white-box-shadow:#4b577e;
    --button-white-text-colour:#efefef;
    --button-blue-colour:#eee7df;
    --button-blue-box-shadow:#b3a9a8;
    --button-blue-text-colour:#29334e;
    --label-colour:#29334e;
    --input-colour:#d74837;
}

.dark-theme {
    --buttons-colour:#29334e;
    --body-colour:#424f6f;
    --header-text-colour:#efefef;
    --rezult-colour:#1a2239;
    --rezult-text-colour:#ffffff;
    --button-white-colour:#eee7df;
    --button-white-box-shadow:#b3a9a8;
    --button-white-text-colour:#29334e;
    --button-blue-colour:#6f7da2;
    --button-blue-box-shadow:#4b577e;
    --button-blue-text-colour:#efefef;
    --label-colour:#29334e;
    --input-colour:#d74837;
}

.pink-theme {
    --buttons-colour:#c15a5c;
    --body-colour:#f5d5c6;
    --header-text-colour:#e64e5b;
    --rezult-colour:#d77e70;
    --rezult-text-colour:#f5cfc6;
    --button-white-colour:#f7bab2;
    --button-white-box-shadow:#f09488;
    --button-white-text-colour:#6e0030;
    --button-blue-colour:#ee7586;
    --button-blue-box-shadow:#e64e5b;
    --button-blue-text-colour:#6e0030;
    --label-colour:#6e0030;
    --input-colour:#d77e70;

}

.calculator {
    width: 480px;
    user-select: none;
}

body {
    background-color: var(--body-colour);
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    margin: 0 0 85px 16px;
}

.header {
    width: 100%;
    height: 30px;
    color: var(--header-text-colour);
}

.calculator__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px 25px 0px;
    margin-top: 98px;
}

h1 {
    padding-left: 6px;
    font-size: 28px;
    font-weight: 800;
    font-family: 'League Spartan', sans-serif;
}

h2 {
    font-size: 12px;
    font-weight: 700;
    font-family: 'League Spartan', sans-serif;
    margin-left: 58%;
}

.switch {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.number {
    font-size: 14px;
    width: 100%;
    word-spacing: 10px;
    font-weight: 700;
    font-family: 'League Spartan', sans-serif;
}

.switch__number {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    top: -80%;
    left: 51.5%;
    transform: translateX(-50%);
}

.switch__radio-button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

label[for="theme1"]:nth-of-type(1) {
    background-color: var(--label-colour);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 21px;
    height: 23px;
}

label[for="theme2"]:nth-of-type(2) {
    background-color: var(--label-colour);
    width: 21px;
    height: 23px;
}

label[for="theme3"]:nth-of-type(3) {
    background-color: var(--label-colour);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 21px;
    height: 23px;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
    display: none;
}

input[type="radio"] + label {
    position: relative;
    cursor: pointer;
    line-height: 30px;
}

input[type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translateX(-50%) translateY(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--input-colour);
}

.result {
    margin-bottom: 21px;
}

/* .calculator__result {
    background-color: var(--rezult-colour);
    color: var(--rezult-text-colour);
    height: 114px;
    width: 100%;
    border-radius: 8px;
} */

input[type="text"] {
    width: 480px;
    height: 114px;
    border: none;
    font-size: 55px;
    outline: none;
    text-align: right;
    padding-right: 25px;
    background-color: var(--rezult-colour);
    border-radius: 8px;
    color: var(--rezult-text-colour);
    font-family: 'League Spartan', sans-serif;
}

.buttons {
    background-color: var(--buttons-colour);
    height: 427px;
    width: 100%;
    border-radius: 9px; 
}

.calculator__buttons {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

.buttons__row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button {
    border: 0;
    border-radius: 8px;
    font-weight: 800;
    font-family: 'League Spartan', sans-serif;
    cursor: pointer;
}

.button_white {
    background: var(--button-white-colour);
    color: var(--button-white-text-colour);
    font-size: 35px;
    box-shadow: 0px 3px 0px 0px var(--button-white-box-shadow);
}

.button_white:hover {
    border-color: #fefeff;
    box-shadow: 0px 0px 25px #fefeff;
    color: #d67bb5;
}

.button_blue {
    background: var(--button-blue-colour);
    color: var(--button-blue-text-colour);
    font-size: 25px;
    box-shadow: 0px 3px 0px 0px var(--button-blue-box-shadow);
}

.button_blue:hover {
    border-color: #6a8fea;
    box-shadow: 0px 0px 25px #6a8fea;
    color: #d67bb5;
}

.button_red {
    background: #d74837;
    color: #fefeff;
    box-shadow: 0px 3px 0px 0px rgba(153, 43, 36);
}

.button_red:hover {
    border-color:#d74837;
    box-shadow: 0px 0px 25px #d74837;
    color: #d67bb5;
}

.button_short {
    height: 54px;
    width: 90px;
}

.button_long {
    height: 54px;
    width: 202px;
    font-size: 25px;
}