
body {
    background-color:#424f6f;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
}

.calculator__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 45px;
}

.header {
    width: 480px;
    height: 30px;
    color:#fefeff;
}

.theme {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    padding-left: 5px;
    font-size: 28px;
    font-weight: 800;
    font-family: 'League Spartan', sans-serif;
}

h2 {
    font-size: 12px;
    margin-right: 10px;
    font-weight: 700;
    font-family: 'League Spartan', sans-serif;
}

h3 {
    font-size: 15px;
    font-weight: 700;
    font-family: 'League Spartan', sans-serif;
}

.header__switch {
    position: relative;
    margin-right: 20px;
}

/* .switch_blue {
    position: absolute;
    background: #2a334a;    
    width: 40px;
    height: 15px;
    border-radius: 100px;
    z-index: 2;
}

.switch_red {
    position: absolute;   
    background: #d74837;
    width: 8px;
    height: 8px;
    border-radius: 100px;
    margin-left: 4px;
    margin-top: 4px;
    z-index: 3;
} */

.result {
    display: flex;
    flex-direction: row;
    margin-bottom: 21px;
}

.calculator__result {
    background-color: #1a2239;
    height: 114px;
    width: 480px;
    border-radius: 8px;
}

.buttons {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

.calculator__buttons {
    background-color: #29334e;
    height: 427px;
    width: 480px;
    border-radius: 9px;
}

.buttons__row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

button {
    border: 0;
}

.button {
    border-radius: 8px;
    font-weight: 800;
    font-family: 'League Spartan', sans-serif;
}

.button_white {
    background: #eee7e1;
    color:#29334e;
    height: 54px;
    width: 90px;
    font-size: 35px;
    box-shadow: 0px 3px 0px 0px rgba(187, 182, 188)
}

.button_blue {
    background: #6f7da2;
    color: #fefeff;
    height: 54px;
    width: 90px;
    font-size: 25px;
    box-shadow: 0px 3px 0px 0px rgba(74, 89, 121)
}

.button_long {
    background: #6f7da2;
    color: #fefeff;
    height: 54px;
    width: 202px;
    font-size: 25px;
    box-shadow: 0px 3px 0px 0px rgba(74, 89, 121)
}

.button_red {
    background: #d74837;
    color: #fefeff;
    height: 54px;
    width: 202px;
    font-size: 25px;
    box-shadow: 0px 3px 0px 0px rgba(153, 43, 36);
}