* {
    box-sizing: border-box;
}

.light-theme {
    --buttons-colour:#29334e;
    --body-colour:#efefef;
    --header-text-colour:#424f6f;
    --rezult-colour:#efefef;
    --rezult-text-colour:#1a2239;
    --button-white-colour:#29334e;
    --button-white-text-colour:#eee7df;
    --button-blue-colour:#efefef;
    --button-blue-text-colour:#6f7da2;
}

.dark-theme {
    --buttons-colour:#29334e;
    --body-colour:#424f6f;
    --header-text-colour:#efefef;
    --rezult-colour:#1a2239;
    --rezult-text-colour:#ffffff;
    --button-white-colour:#eee7df;
    --button-white-text-colour:#29334e;
    --button-blue-colour:#6f7da2;
    --button-blue-text-colour:#efefef;
}

.pink-theme {
    --buttons-colour:#f47673;
    --body-colour:#ffc9e8;
    --header-text-colour:#4c0e1f;
    --rezult-colour:#fd5296;
    --rezult-text-colour:#f6b8d8;
    --button-white-colour:#f695cc;
    --button-white-text-colour:#6e0030;
    --button-blue-colour:#f6b8d8;
    --button-blue-text-colour:#fd5296;
}

.calculator {
    width: 480px;
    user-select: none;
}

body {
    background-color: var(--body-colour);
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
}

form {
    max-width: 100%;
}

input[type="text"] {
    width: 480px;
    height: 114px;
    border: none;
    font-size: 55px;
    outline: none;
    text-align: right;
    padding-right: 15px;
    background-color: var(--rezult-colour);
    border-radius: 8px;
    color: var(--rezult-text-colour);
    font-family: 'League Spartan', sans-serif;
}

.calculator__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 45px;
}

.header {
    width: 100%;
    height: 30px;
    color: var(--header-text-colour);
}

.header__theme {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.switch {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.switch__number {
    font-size: 10px;
    font-weight: 700;
    font-family: 'League Spartan', sans-serif;
}

.switch__number {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 14px;
}

.radio-button {
    display: flex;
}

label[for="theme1"]:nth-of-type(1) {
    background-color: #29334e;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 21px;
    height: 23px;
}

label[for="theme2"]:nth-of-type(2) {
    background-color: #29334e;
    width: 21px;
    height: 23px;
}

label[for="theme3"]:nth-of-type(3) {
    background-color: #29334e;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 21px;
    height: 23px;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
    display: none;
}

input[type="radio"] + label {
    position: relative;
    cursor: pointer;
    line-height: 30px;
}

input[type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #d74837;
}

h1 {
    padding-left: 6px;
    font-size: 28px;
    font-weight: 800;
    font-family: 'League Spartan', sans-serif;
}

h2 {
    font-size: 12px;
    margin-right: 10px;
    font-weight: 700;
    font-family: 'League Spartan', sans-serif;
}

.result {
    display: flex;
    flex-direction: row;
    margin-bottom: 21px;
    padding: 0;
}

.calculator__result {
    background-color: var(--rezult-colour);
    height: 114px;
    width: 100%;
    border-radius: 8px;
    color: var(--rezult-text-colour);
}

.buttons {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

.calculator__buttons {
    background-color: var(--buttons-colour);
    height: 427px;
    width: 100%;
    border-radius: 9px;
}

.buttons__row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button {
    border: 0;
    border-radius: 8px;
    font-weight: 800;
    font-family: 'League Spartan', sans-serif;
    cursor: pointer;
}

.button_white {
    background: var(--button-white-colour);
    color: var(--button-white-text-colour);
    font-size: 35px;
    box-shadow: 0px 3px 0px 0px rgba(187, 182, 188)
}

.button_white:hover {
    border-color: #fefeff;
    box-shadow: 0px 0px 25px #fefeff;
    color: #d67bb5;
}

.button_blue {
    background: var(--button-blue-colour);
    color: var(--button-blue-text-colour);
    font-size: 25px;
    box-shadow: 0px 3px 0px 0px rgba(74, 89, 121)
}

.button_blue:hover {
    border-color: #6a8fea;
    box-shadow: 0px 0px 25px #6a8fea;
    color: #d67bb5;
}

.button_red {
    background: #d74837;
    color: #fefeff;
    box-shadow: 0px 3px 0px 0px rgba(153, 43, 36);
}

.button_red:hover {
    border-color:#d74837;
    box-shadow: 0px 0px 25px #d74837;
    color: #d67bb5;
}

.button_short {
    height: 54px;
    width: 90px;
}

.button_long {
    height: 54px;
    width: 202px;
    font-size: 25px;
}